src/main/resources/wsdl/MiServicio.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://services.jaxws.webapp.rvalenzuela.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ServiciosWsImplService" targetNamespace="http://services.jaxws.webapp.rvalenzuela.org/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.jaxws.webapp.rvalenzuela.org/" elementFormDefault="unqualified" targetNamespace="http://services.jaxws.webapp.rvalenzuela.org/" version="1.0">

  <xs:element name="crear" type="tns:crear"/>

  <xs:element name="crearResponse" type="tns:crearResponse"/>

  <xs:element name="deleteSubscriber" type="tns:deleteSubscriber"/>

  <xs:element name="deleteSubscriberResponse" type="tns:deleteSubscriberResponse"/>

  <xs:element name="listar" type="tns:listar"/>

  <xs:element name="listarResponse" type="tns:listarResponse"/>

  <xs:complexType name="deleteSubscriber">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:deleteSubscriberAttr"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteSubscriberAttr">
    <xs:sequence>
      <xs:element minOccurs="0" name="operationId" type="xs:int"/>
      <xs:element minOccurs="0" name="subId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteSubscriberResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:deleteResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="detailResponse" type="xs:string"/>
      <xs:element minOccurs="0" name="response" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listar">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="listarResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:curso"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="curso">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="crear">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:curso"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="crearResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:curso"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="crearResponse">
    <wsdl:part element="tns:crearResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listarResponse">
    <wsdl:part element="tns:listarResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="crear">
    <wsdl:part element="tns:crear" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteSubscriberResponse">
    <wsdl:part element="tns:deleteSubscriberResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteSubscriber">
    <wsdl:part element="tns:deleteSubscriber" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listar">
    <wsdl:part element="tns:listar" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServicioWs">
    <wsdl:operation name="deleteSubscriber">
      <wsdl:input message="tns:deleteSubscriber" name="deleteSubscriber">
    </wsdl:input>
      <wsdl:output message="tns:deleteSubscriberResponse" name="deleteSubscriberResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listar">
      <wsdl:input message="tns:listar" name="listar">
    </wsdl:input>
      <wsdl:output message="tns:listarResponse" name="listarResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crear">
      <wsdl:input message="tns:crear" name="crear">
    </wsdl:input>
      <wsdl:output message="tns:crearResponse" name="crearResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiciosWsImplServiceSoapBinding" type="tns:ServicioWs">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="deleteSubscriber">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteSubscriber">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteSubscriberResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listar">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listar">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listarResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crear">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="crear">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="crearResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiciosWsImplService">
    <wsdl:port binding="tns:ServiciosWsImplServiceSoapBinding" name="ServiciosWsImplPort">
      <soap:address location="http://localhost:8082/webapp-jaxws/ServiciosWsImpl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>