src/main/resources/wsdl/Tecnomen2.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!--  Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown.  -->
<!--  Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown.  -->
<wsdl:definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tecnomen.claro.com.hn/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tecnomen.claro.com.hn/" name="TecnomenWebService">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://tecnomen.claro.com.hn/" schemaLocation="http://172.21.195.78:7003/Tecnotree-API-WS-GT-2.0/TecnomenWebService?xsd=1"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getSubscriberDetails">
        <wsdl:part name="parameters" element="tns:getSubscriberDetails"/>
    </wsdl:message>
    <wsdl:message name="getSubscriberDetailsResponse">
        <wsdl:part name="parameters" element="tns:getSubscriberDetailsResponse"/>
    </wsdl:message>
    <wsdl:message name="getSubscriberServiceDetails">
        <wsdl:part name="parameters" element="tns:getSubscriberServiceDetails"/>
    </wsdl:message>
    <wsdl:message name="getSubscriberServiceDetailsResponse">
        <wsdl:part name="parameters" element="tns:getSubscriberServiceDetailsResponse"/>
    </wsdl:message>
    <wsdl:message name="updateSubscriberDetails">
        <wsdl:part name="parameters" element="tns:updateSubscriberDetails"/>
    </wsdl:message>
    <wsdl:message name="updateSubscriberDetailsResponse">
        <wsdl:part name="parameters" element="tns:updateSubscriberDetailsResponse"/>
    </wsdl:message>
    <wsdl:message name="fundTransfer">
        <wsdl:part name="parameters" element="tns:fundTransfer"/>
    </wsdl:message>
    <wsdl:message name="fundTransferResponse">
        <wsdl:part name="parameters" element="tns:fundTransferResponse"/>
    </wsdl:message>
    <wsdl:message name="accountQuery">
        <wsdl:part name="parameters" element="tns:accountQuery"/>
    </wsdl:message>
    <wsdl:message name="accountQueryResponse">
        <wsdl:part name="parameters" element="tns:accountQueryResponse"/>
    </wsdl:message>
    <wsdl:message name="createSubscriber">
        <wsdl:part name="parameters" element="tns:createSubscriber"/>
    </wsdl:message>
    <wsdl:message name="createSubscriberResponse">
        <wsdl:part name="parameters" element="tns:createSubscriberResponse"/>
    </wsdl:message>
    <wsdl:message name="searchSubscriberExtraImsiList">
        <wsdl:part name="parameters" element="tns:searchSubscriberExtraImsiList"/>
    </wsdl:message>
    <wsdl:message name="searchSubscriberExtraImsiListResponse">
        <wsdl:part name="parameters" element="tns:searchSubscriberExtraImsiListResponse"/>
    </wsdl:message>
    <wsdl:message name="periodFundTransfer">
        <wsdl:part name="parameters" element="tns:periodFundTransfer"/>
    </wsdl:message>
    <wsdl:message name="periodFundTransferResponse">
        <wsdl:part name="parameters" element="tns:periodFundTransferResponse"/>
    </wsdl:message>
    <wsdl:message name="addAccount">
        <wsdl:part name="parameters" element="tns:addAccount"/>
    </wsdl:message>
    <wsdl:message name="addAccountResponse">
        <wsdl:part name="parameters" element="tns:addAccountResponse"/>
    </wsdl:message>
    <wsdl:message name="voucherRecharge">
        <wsdl:part name="parameters" element="tns:voucherRecharge"/>
    </wsdl:message>
    <wsdl:message name="voucherRechargeResponse">
        <wsdl:part name="parameters" element="tns:voucherRechargeResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteSubscriber">
        <wsdl:part name="parameters" element="tns:deleteSubscriber"/>
    </wsdl:message>
    <wsdl:message name="deleteSubscriberResponse">
        <wsdl:part name="parameters" element="tns:deleteSubscriberResponse"/>
    </wsdl:message>
    <wsdl:message name="updatePPMin">
        <wsdl:part name="parameters" element="tns:updatePPMin"/>
    </wsdl:message>
    <wsdl:message name="updatePPMinResponse">
        <wsdl:part name="parameters" element="tns:updatePPMinResponse"/>
    </wsdl:message>
    <wsdl:message name="clearInterface">
        <wsdl:part name="parameters" element="tns:clearInterface"/>
    </wsdl:message>
    <wsdl:message name="clearInterfaceResponse">
        <wsdl:part name="parameters" element="tns:clearInterfaceResponse"/>
    </wsdl:message>
    <wsdl:message name="insertSubscriberExtraImsi">
        <wsdl:part name="parameters" element="tns:insertSubscriberExtraImsi"/>
    </wsdl:message>
    <wsdl:message name="insertSubscriberExtraImsiResponse">
        <wsdl:part name="parameters" element="tns:insertSubscriberExtraImsiResponse"/>
    </wsdl:message>
    <wsdl:message name="updateSubscriberExtraImsi">
        <wsdl:part name="parameters" element="tns:updateSubscriberExtraImsi"/>
    </wsdl:message>
    <wsdl:message name="updateSubscriberExtraImsiResponse">
        <wsdl:part name="parameters" element="tns:updateSubscriberExtraImsiResponse"/>
    </wsdl:message>
    <wsdl:message name="updateSubscriberServiceDetails">
        <wsdl:part name="parameters" element="tns:updateSubscriberServiceDetails"/>
    </wsdl:message>
    <wsdl:message name="updateSubscriberServiceDetailsResponse">
        <wsdl:part name="parameters" element="tns:updateSubscriberServiceDetailsResponse"/>
    </wsdl:message>
    <wsdl:message name="getVoucherDetails">
        <wsdl:part name="parameters" element="tns:getVoucherDetails"/>
    </wsdl:message>
    <wsdl:message name="getVoucherDetailsResponse">
        <wsdl:part name="parameters" element="tns:getVoucherDetailsResponse"/>
    </wsdl:message>
    <wsdl:message name="updateVoucherDetails">
        <wsdl:part name="parameters" element="tns:updateVoucherDetails"/>
    </wsdl:message>
    <wsdl:message name="updateVoucherDetailsResponse">
        <wsdl:part name="parameters" element="tns:updateVoucherDetailsResponse"/>
    </wsdl:message>
    <wsdl:message name="onlineFundTransfer">
        <wsdl:part name="parameters" element="tns:onlineFundTransfer"/>
    </wsdl:message>
    <wsdl:message name="onlineFundTransferResponse">
        <wsdl:part name="parameters" element="tns:onlineFundTransferResponse"/>
    </wsdl:message>
    <wsdl:message name="accountUpdate">
        <wsdl:part name="parameters" element="tns:accountUpdate"/>
    </wsdl:message>
    <wsdl:message name="accountUpdateResponse">
        <wsdl:part name="parameters" element="tns:accountUpdateResponse"/>
    </wsdl:message>
    <wsdl:message name="directDebitTransfer">
        <wsdl:part name="parameters" element="tns:directDebitTransfer"/>
    </wsdl:message>
    <wsdl:message name="directDebitTransferResponse">
        <wsdl:part name="parameters" element="tns:directDebitTransferResponse"/>
    </wsdl:message>
    <wsdl:message name="getCallDetailRecordsNoneVoice">
        <wsdl:part name="parameters" element="tns:getCallDetailRecordsNoneVoice"/>
    </wsdl:message>
    <wsdl:message name="getCallDetailRecordsNoneVoiceResponse">
        <wsdl:part name="parameters" element="tns:getCallDetailRecordsNoneVoiceResponse"/>
    </wsdl:message>
    <wsdl:message name="getSubscriberAccountDetails">
        <wsdl:part name="parameters" element="tns:getSubscriberAccountDetails"/>
    </wsdl:message>
    <wsdl:message name="getSubscriberAccountDetailsResponse">
        <wsdl:part name="parameters" element="tns:getSubscriberAccountDetailsResponse"/>
    </wsdl:message>
    <wsdl:message name="removeSubscriberExtraImsi">
        <wsdl:part name="parameters" element="tns:removeSubscriberExtraImsi"/>
    </wsdl:message>
    <wsdl:message name="removeSubscriberExtraImsiResponse">
        <wsdl:part name="parameters" element="tns:removeSubscriberExtraImsiResponse"/>
    </wsdl:message>
    <wsdl:message name="getSubscriberExtraImsi">
        <wsdl:part name="parameters" element="tns:getSubscriberExtraImsi"/>
    </wsdl:message>
    <wsdl:message name="getSubscriberExtraImsiResponse">
        <wsdl:part name="parameters" element="tns:getSubscriberExtraImsiResponse"/>
    </wsdl:message>
    <wsdl:message name="getCallDetailRecordsVoice">
        <wsdl:part name="parameters" element="tns:getCallDetailRecordsVoice"/>
    </wsdl:message>
    <wsdl:message name="getCallDetailRecordsVoiceResponse">
        <wsdl:part name="parameters" element="tns:getCallDetailRecordsVoiceResponse"/>
    </wsdl:message>
    <wsdl:message name="removeAccount">
        <wsdl:part name="parameters" element="tns:removeAccount"/>
    </wsdl:message>
    <wsdl:message name="removeAccountResponse">
        <wsdl:part name="parameters" element="tns:removeAccountResponse"/>
    </wsdl:message>
    <wsdl:message name="updateSubscriberAccountDetails">
        <wsdl:part name="parameters" element="tns:updateSubscriberAccountDetails"/>
    </wsdl:message>
    <wsdl:message name="updateSubscriberAccountDetailsResponse">
        <wsdl:part name="parameters" element="tns:updateSubscriberAccountDetailsResponse"/>
    </wsdl:message>
    <wsdl:message name="packageRecharge">
        <wsdl:part name="parameters" element="tns:packageRecharge"/>
    </wsdl:message>
    <wsdl:message name="packageRechargeResponse">
        <wsdl:part name="parameters" element="tns:packageRechargeResponse"/>
    </wsdl:message>
    <wsdl:message name="removeService">
        <wsdl:part name="parameters" element="tns:removeService"/>
    </wsdl:message>
    <wsdl:message name="removeServiceResponse">
        <wsdl:part name="parameters" element="tns:removeServiceResponse"/>
    </wsdl:message>
    <wsdl:message name="addService">
        <wsdl:part name="parameters" element="tns:addService"/>
    </wsdl:message>
    <wsdl:message name="addServiceResponse">
        <wsdl:part name="parameters" element="tns:addServiceResponse"/>
    </wsdl:message>
    <wsdl:portType name="TecnomenWebService">
        <wsdl:operation name="getSubscriberDetails">
            <wsdl:input wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/getSubscriberDetailsRequest" message="tns:getSubscriberDetails"/>
            <wsdl:output wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/getSubscriberDetailsResponse" message="tns:getSubscriberDetailsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getSubscriberServiceDetails">
            <wsdl:input wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/getSubscriberServiceDetailsRequest" message="tns:getSubscriberServiceDetails"/>
            <wsdl:output wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/getSubscriberServiceDetailsResponse" message="tns:getSubscriberServiceDetailsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateSubscriberDetails">
            <wsdl:input wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/updateSubscriberDetailsRequest" message="tns:updateSubscriberDetails"/>
            <wsdl:output wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/updateSubscriberDetailsResponse" message="tns:updateSubscriberDetailsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="fundTransfer">
            <wsdl:input wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/fundTransferRequest" message="tns:fundTransfer"/>
            <wsdl:output wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/fundTransferResponse" message="tns:fundTransferResponse"/>
        </wsdl:operation>
        <wsdl:operation name="accountQuery">
            <wsdl:input wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/accountQueryRequest" message="tns:accountQuery"/>
            <wsdl:output wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/accountQueryResponse" message="tns:accountQueryResponse"/>
        </wsdl:operation>
        <wsdl:operation name="createSubscriber">
            <wsdl:input wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/createSubscriberRequest" message="tns:createSubscriber"/>
            <wsdl:output wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/createSubscriberResponse" message="tns:createSubscriberResponse"/>
        </wsdl:operation>
        <wsdl:operation name="searchSubscriberExtraImsiList">
            <wsdl:input wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/searchSubscriberExtraImsiListRequest" message="tns:searchSubscriberExtraImsiList"/>
            <wsdl:output wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/searchSubscriberExtraImsiListResponse" message="tns:searchSubscriberExtraImsiListResponse"/>
        </wsdl:operation>
        <wsdl:operation name="periodFundTransfer">
            <wsdl:input wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/periodFundTransferRequest" message="tns:periodFundTransfer"/>
            <wsdl:output wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/periodFundTransferResponse" message="tns:periodFundTransferResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addAccount">
            <wsdl:input wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/addAccountRequest" message="tns:addAccount"/>
            <wsdl:output wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/addAccountResponse" message="tns:addAccountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="voucherRecharge">
            <wsdl:input wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/voucherRechargeRequest" message="tns:voucherRecharge"/>
            <wsdl:output wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/voucherRechargeResponse" message="tns:voucherRechargeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteSubscriber">
            <wsdl:input wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/deleteSubscriberRequest" message="tns:deleteSubscriber"/>
            <wsdl:output wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/deleteSubscriberResponse" message="tns:deleteSubscriberResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updatePPMin">
            <wsdl:input wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/updatePPMinRequest" message="tns:updatePPMin"/>
            <wsdl:output wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/updatePPMinResponse" message="tns:updatePPMinResponse"/>
        </wsdl:operation>
        <wsdl:operation name="clearInterface">
            <wsdl:input wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/clearInterfaceRequest" message="tns:clearInterface"/>
            <wsdl:output wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/clearInterfaceResponse" message="tns:clearInterfaceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="insertSubscriberExtraImsi">
            <wsdl:input wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/insertSubscriberExtraImsiRequest" message="tns:insertSubscriberExtraImsi"/>
            <wsdl:output wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/insertSubscriberExtraImsiResponse" message="tns:insertSubscriberExtraImsiResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateSubscriberExtraImsi">
            <wsdl:input wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/updateSubscriberExtraImsiRequest" message="tns:updateSubscriberExtraImsi"/>
            <wsdl:output wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/updateSubscriberExtraImsiResponse" message="tns:updateSubscriberExtraImsiResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateSubscriberServiceDetails">
            <wsdl:input wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/updateSubscriberServiceDetailsRequest" message="tns:updateSubscriberServiceDetails"/>
            <wsdl:output wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/updateSubscriberServiceDetailsResponse" message="tns:updateSubscriberServiceDetailsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getVoucherDetails">
            <wsdl:input wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/getVoucherDetailsRequest" message="tns:getVoucherDetails"/>
            <wsdl:output wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/getVoucherDetailsResponse" message="tns:getVoucherDetailsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateVoucherDetails">
            <wsdl:input wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/updateVoucherDetailsRequest" message="tns:updateVoucherDetails"/>
            <wsdl:output wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/updateVoucherDetailsResponse" message="tns:updateVoucherDetailsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="onlineFundTransfer">
            <wsdl:input wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/onlineFundTransferRequest" message="tns:onlineFundTransfer"/>
            <wsdl:output wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/onlineFundTransferResponse" message="tns:onlineFundTransferResponse"/>
        </wsdl:operation>
        <wsdl:operation name="accountUpdate">
            <wsdl:input wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/accountUpdateRequest" message="tns:accountUpdate"/>
            <wsdl:output wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/accountUpdateResponse" message="tns:accountUpdateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="directDebitTransfer">
            <wsdl:input wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/directDebitTransferRequest" message="tns:directDebitTransfer"/>
            <wsdl:output wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/directDebitTransferResponse" message="tns:directDebitTransferResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getCallDetailRecordsNoneVoice">
            <wsdl:input wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/getCallDetailRecordsNoneVoiceRequest" message="tns:getCallDetailRecordsNoneVoice"/>
            <wsdl:output wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/getCallDetailRecordsNoneVoiceResponse" message="tns:getCallDetailRecordsNoneVoiceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getSubscriberAccountDetails">
            <wsdl:input wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/getSubscriberAccountDetailsRequest" message="tns:getSubscriberAccountDetails"/>
            <wsdl:output wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/getSubscriberAccountDetailsResponse" message="tns:getSubscriberAccountDetailsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="removeSubscriberExtraImsi">
            <wsdl:input wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/removeSubscriberExtraImsiRequest" message="tns:removeSubscriberExtraImsi"/>
            <wsdl:output wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/removeSubscriberExtraImsiResponse" message="tns:removeSubscriberExtraImsiResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getSubscriberExtraImsi">
            <wsdl:input wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/getSubscriberExtraImsiRequest" message="tns:getSubscriberExtraImsi"/>
            <wsdl:output wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/getSubscriberExtraImsiResponse" message="tns:getSubscriberExtraImsiResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getCallDetailRecordsVoice">
            <wsdl:input wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/getCallDetailRecordsVoiceRequest" message="tns:getCallDetailRecordsVoice"/>
            <wsdl:output wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/getCallDetailRecordsVoiceResponse" message="tns:getCallDetailRecordsVoiceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="removeAccount">
            <wsdl:input wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/removeAccountRequest" message="tns:removeAccount"/>
            <wsdl:output wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/removeAccountResponse" message="tns:removeAccountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateSubscriberAccountDetails">
            <wsdl:input wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/updateSubscriberAccountDetailsRequest" message="tns:updateSubscriberAccountDetails"/>
            <wsdl:output wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/updateSubscriberAccountDetailsResponse" message="tns:updateSubscriberAccountDetailsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="packageRecharge">
            <wsdl:input wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/packageRechargeRequest" message="tns:packageRecharge"/>
            <wsdl:output wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/packageRechargeResponse" message="tns:packageRechargeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="removeService">
            <wsdl:input wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/removeServiceRequest" message="tns:removeService"/>
            <wsdl:output wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/removeServiceResponse" message="tns:removeServiceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addService">
            <wsdl:input wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/addServiceRequest" message="tns:addService"/>
            <wsdl:output wsam:Action="http://tecnomen.claro.com.hn/TecnomenWebService/addServiceResponse" message="tns:addServiceResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TecnomenWebServicePortBinding" type="tns:TecnomenWebService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getSubscriberDetails">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSubscriberServiceDetails">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateSubscriberDetails">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="fundTransfer">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="accountQuery">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createSubscriber">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchSubscriberExtraImsiList">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="periodFundTransfer">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addAccount">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="voucherRecharge">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteSubscriber">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updatePPMin">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="clearInterface">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="insertSubscriberExtraImsi">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateSubscriberExtraImsi">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateSubscriberServiceDetails">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVoucherDetails">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateVoucherDetails">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="onlineFundTransfer">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="accountUpdate">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="directDebitTransfer">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCallDetailRecordsNoneVoice">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSubscriberAccountDetails">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeSubscriberExtraImsi">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSubscriberExtraImsi">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCallDetailRecordsVoice">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeAccount">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateSubscriberAccountDetails">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="packageRecharge">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeService">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addService">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TecnomenWebService">
        <wsdl:port name="TecnomenWebServicePort" binding="tns:TecnomenWebServicePortBinding">
            <soap:address location="http://172.21.195.78:7003/Tecnotree-API-WS-GT-2.0/TecnomenWebService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>